/* ======== use for div guide ========== */
* {
  /* border: 1px gold solid; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4%;
}

/* =============================== */
/* ========= Main Form =========== */
/* =============================== */

.input {
  border-radius: 6px;
  width: 100%;
  height: 2em;
  font-size: 18px;
  border: 2px solid #e8e8e8;
  background-color: white;
}

.comments {
  width: 100%;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  border: 2px solid #e8e8e8;
  height: 5em;
  width: 100%;
  font-size: 18px;
}
/* =============================== */
/* =========== Buttons =========== */
/* =============================== */
.button {
  border-radius: 4px;
  color: black;
  padding: 10px 30px;
  font-size: 18px;
  background-color: white;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  padding-top: 1%;
  justify-content: space-between;
}

.saveClose, .cancel {
  border: 2px solid #e8e8e8;
}

.next {
  background-color: #0066ff;
  color: white;
  margin-left: 5px;
}

/* =============================== */
/* ========= Leave Form ========== */
/* =============================== */
.divLeave {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
