/* ======== use for div guide ========== */
* {
  /* border: 1px gold solid; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1 {
  font-weight: lighter;
}

h3 {
  font-weight: bolder;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 4%;
}

/* =============================== */
/* ========= Main Form =========== */
/* =============================== */

.input {
  border-radius: 6px;
  width: 98.1%;
  height: 2em;
  font-size: 18px;
  border: 2px solid #e8e8e8;
  background-color: white;
  padding-left: 1%;
  color: #708090;
}

.input:focus {
  outline: none !important;
  border: 1px solid #4684c7 !important;
  box-shadow: 0 0 10px #4684c7 !important;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  border: 2px solid #e8e8e8;
  height: 5em;
  width: 98.1%;
  font-size: 18px;
  padding-left: 1%;
  color: #708090;
}

textarea:focus {
  outline: none !important;
  border: 1px solid #4684c7 !important;
  box-shadow: 0 0 10px #4684c7 !important;
}

/* =============================== */
/* =========== Buttons =========== */
/* =============================== */
.button {
  border-radius: 6px;
  color: black;
  padding: 12px 17px 12px 17px;
  font-size: 20px;
  background-color: white;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  width: 100%;
  justify-content: space-between;
}

.saveClose, .cancel {
  border: 2px solid #e8e8e8;
}

.next {
  background-color: #4684c7;
  color: white;
  margin-left: 5px;
  border: none;
  border-radius: 6px;
  padding: 12px 17px 12px 17px;
  font-size: 20px;
  }

/* =============================== */
/* ========= Leave Form ========== */
/* =============================== */
.divLeave {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
